# exclude jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/

# exclude data files
*.csv
*.xlsx
!final_data.csv
!example_data*.csv

# exclude images


#exclude design files
*.ai

#exclude reference files
D3_code_snippets/*